th, td, p, input, select {
    font: 14px Verdana;
}
table, th, td {
    border: solid 5px #DDD;
    border-collapse: collapse;
    padding: 4px 6px;
    text-align: center;
}
th {
    font-weight: bold;
    background-color: #f2f2f2;
}
.container {
    width: 90%;
    margin: auto;
    padding-top: 20px;
}